body {
  font-family: Arial, sans-serif;
  background-color: #8a0e69; /* açık pembe */
  /* background-image: url('./assets/sprunki.png'); */
  background-size: contain;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 35px;
}

.container {
  text-align: center;
  z-index: 1000;
  background-color: #d4bed1; 
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(116, 16, 16, 0.1);
  width: 80%;
  max-width: 400px;
 
}
button{
background-color: #144d7e;
font-size: 60px;

}